<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>屏盟国家科技有限公司</title>

		<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
		<meta http-equiv="description" content="this is my page">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link href="/stylesheets/css.css" rel="stylesheet" type="text/css" />

	</head>

	<body>
		<div class="aboutus">
			<div class="aboutus_title">
				<samp>
					关于我们
				</samp>
				<img src="/images/arrow_down.png" width="14">
			</div>
			<div class="aboutus_w">
				<p>
					屏盟
				</p>
				<p>
					我是一个方圆500米屏友信息发布工具，如果您立即需要求助，或者您附件的他（她）提供帮助，或者您有好消息想告诉附件人等等。您只需要发布一条消息，附件的用户就能看到您的信息。如果您对附近人发布的信息感兴趣，您还可以通过我直接发送消息给他（她）发已得联系
				</p>
			</div>
			<div class="clear"></div>
			<div class="aboutus_title marin_t">
				<span>联系我们</span>
				<img src="/images/about_arrow.png" width="14" />
			</div>
			<div class="aboutus_w">
				<p>
					<span class="title">邮箱：</span>www.uscreen.online
				</p>
				<p>
					<span class="title">公司地址：</span>湖南省长沙市开福区湘江中路
				</p>
				<p>
					<span class="title">客服电话：</span><a href="tel:13087310520"><span
						class="phone">13087310520</span>
					</a>（工作时间9:00~21:00）
				</p>

				<p class="marin_t">
					商务合作 759056164@qq.com 刘总
				</p>
				<p>
					市场合作 470784899@qq.com 伍总
				</p>
				<p>
					品牌媒体合作258457172@qq.com 铿总
				</p>
			</div>
		</div>
	</body>

</html>
